header.header
    .container
        .header-top
            a.header-logo(href="")
                img.header-logo--img(src="img/icon/logo.svg", alt="")
            ul.header__nav
                li.header__item
                    a(href="").header-link Главная
                li.header__item
                    a(href="").header-link Портфолио
                li.header__item
                    a(href="").header-link Пакеты услуг
                li.header__item
                    a(href="").header-link Контакты
            button(type="submit").header__nav-btn
        .header-footer 
            a(href="").button.header-btn заказать звонок
            .header-footer__links
                a.header-footer__link(href="")
                    img(src="img/icon/pinterest.svg", alt="media")
                a.header-footer__link(href="")
                    img(src="img/icon/instagram.svg", alt="media")      
                a.header-footer__link(href="")
                    img(src="img/icon/telegram.svg", alt="media")
                a.header-footer__link(href="")
                    img(src="img/icon/whatsapp.svg", alt="media")
                
