doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css")
        link(rel="stylesheet", href="css/jquery.fancybox.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title unlimited-design
    body
        include layout\pages\01home.pug

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js")
    script(src="js/jquery.fancybox.min.js")
    script(src="js/script.min.js")
    