.header-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: $basic-specialBlack;
    max-height: 600px;
}

.header-top {
    display: flex;
    flex-direction: column;
    background-color: $basic-specialBlack;
    color: $basic-white;
    position: relative;
}

.header-footer {
    display: flex;
    flex-direction: column;
    background-color: $basic-specialBlack;
    color: $basic-white;
}

.header-footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	align-items: center;
}

.header-logo {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.header__nav-btn {
    border: none;
    width: 27px;
    height: 2px;
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 15px;
    box-shadow: 0 5px 0 0 $basic-white,
                0 10px 0 0 $basic-white;
}



.header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.header__item {
    padding-bottom: 50px;
}

.header-link {
    color: $basic-white;
}

.header-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-btn {
    margin-right: 10px;
}

.button {
    width: 175px;
    height: 35px;
}

.header-footer__links {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-footer__link {
    padding-left: 40px;
}