@font-face {
    font-weight: normal;
    font-style: normal; 
    font-family: 'Rubik', sans-serif;
    src: local("Rubik"), local("Rubik"),url("../fonts/Rubik-VariableFont_wght.ttf") format("ttf"),  url("../fonts/Rubik-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-weight: normal; 
    font-style: normal; 
    font-family: 'Rubik Mono One', sans-serif;
    src: local("Rubik Mono One"), local("Rubik Mono One"), url("../fonts/RubikMonoOne-Regular.ttf") format("ttf"), url("../fonts/RubikMonoOne-Regular.ttf") format("ttf"); 
}
