* {
    box-sizing: border-box;
  }

html,
body {
	height: 100%;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
}

.footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

// @media only screen and (min-device-width : $ .*** ) and (max-device-width : $ .*** ) {

// }


    //размеры экрана
    $small:  320px;
    $medium:  700px;
    $large:  904px;
    $huge:  1024px;
    $giant: 1440px;
    $immeasurable: 2560px;


    // Базовые цвета
    $basic-white:#ffffff;
    $basic-black:#000000;
    $basic-grey: #C4C4C4;


    //часто используемые цвета
    $basic-background:#EEEEEE;
    $basic-specialBlack:#2C2B2B;
    //центрирование контента
    

    //наведение,нажатие и тому подобное
    // $basic-inputAfter:#333333;
    // $basic-inputBefore:#F2F2F2;
    // $basic-inputDown:#D5D5D5;
 
    // $basic-mobileBtn:#5A0D67;
    // $basic-mobileBtnHover:#333333;

    // специальные цвета
    $basic-accent:#5A0D67;
    $basic-branded:#21062A;

	//шрифт
    $font-family: 'Oswald', sans-serif;

    $font-sizeSmall: 14px;
    $font-sizeMedium: 18px;
    $font-sizeLarge: 24px;
    $font-sizeHuge: 36px;
    $font-sizeGiant: 72px;


body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 100%;

    margin: 0 auto;
    // overflow-x: hidden;
    // background-color: $basic-background;
}


//часто используемые классы
.visually-hidden {
    position: absolute;
    clip: rect( 0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

// .text-btn {
//     text-transform: uppercase;
//     text-align: center;
//     padding-top: 15px;
//     font-weight: 300;
//     font-size: $font-sizeSmall;
//     line-height: 21px;
//     color: $basic-white;
// }

// .button {
//     display: block;
//     text-align: center;
//     width: 250px;
//     height: 50px;
//     background-color: $basic-accent;
// }

// .button:hover {
//     background-color: $basic-white;
//     color: $basic-accent;
//     transition: all .5s;
// }

// .button:active {
//     background-color: $basic-white;
//     color: $basic-accent;
// }

// .button:disabled {
//     background-color: $basic-white;
//     color: $basic-accent;
// }






