* {
    box-sizing: border-box;
  }

html,
body {
	height: 100%;
    overflow-x: hidden;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
}

.footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

// @media only screen and (min-device-width : $ .*** ) and (max-device-width : $ .*** ) {

// }


    //размеры экрана
    $small:  320px;
    $medium:  768px;
    $large:  970px;
    $huge:  1440px;
    $giant: 1440px;
    $immeasurable: 2560px;


    // Базовые цвета
    $basic-white:#ffffff;
    $basic-black:#000000;
    $basic-grey: #5B5B5B;
    $basic-error: #FF1414;


    //часто используемые цвета
    $basic-background:#3D3D3D;
    $basic-specialBlack:#232323;
    $basic-colormuted: #5B5B5B;
    $basic-accent: #BC854E;
    $basic-branded: #D69F67;
    //доп цвета
    $basic-backshadow:#404040;
    $basic-btnhover:#262529;


    // специальные цвета
    $basic-lineSpecial-1:#DEDEDE;
    $basic-lineSpecial-2:#756656;
    $basic-lineSpecial-3:#F5CFA7;
    $basic-lineSpecial-4:#9D8A77;

	//шрифт
    $font-family: 'Rubik', sans-serif;

    $font-sizeSmall: 14px;
    $font-sizeNormal: 18px;
    $font-sizeMedium: 20px;
    $font-sizeLarge: 30px;
    $font-sizeHuge: 33px;
    $font-sizeGiant: 35px;

    $font-sizeTablet-12: 12px;
    $font-sizeTablet-15: 15px;
    $font-sizeTablet-17: 17px;
    $font-sizeTablet-20: 20px;
    $font-sizeTablet-22: 22px;
    $font-sizeTablet-40: 40px;



body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 100%;

    margin: 0 auto;
    // overflow-x: hidden;
    background: linear-gradient(45deg, #5B5B5B, #3D3D3D);
}


//часто используемые классы
.visually-hidden {
    position: absolute;
    clip: rect( 0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.text-btn {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    font-weight: 300;
    font-size: $font-sizeSmall;
    line-height: 21px;
    color: $basic-white;
}

// button NO COLOR, WHIETE and BLACK
.button {
    display: block;
    text-align: center;
    background-color: $basic-background;
    border: 2px solid $basic-white;
    color: $basic-white;
}

.button:hover {
    background-color: $basic-white;
    color: $basic-background;
    transition: all .5s;
}

.button:active {
    background-color: $basic-white;
    color: $basic-background;
}

.button:disabled {
    background-color: $basic-white;
    color: $basic-background;
}


// button Color Yellow, maybe
.color-button {
    display: block;
    text-align: center;
    background-color: $basic-branded;
    color: $basic-white;
    border: none;
}

.color-button:hover {
    background-color: $basic-accent;
    color: $basic-white;
    transition: all .5s;
}

.color-button:active {
    background-color: $basic-accent;
    color: $basic-white;
}

.color-button:disabled {
    background-color: $basic-accent;
    color: $basic-white;
}


.btn-text:hover {
    background-color: $basic-background;
    color: $basic-white;
    transition: all .5s;
    border: 2px solid $basic-branded;
}


.btn-text--error {
    position: relative;
    background-color: $basic-background;
    color:$basic-error;
    border: 2px solid $basic-error;
}

.btn-text--error::after {
    position: absolute;
    content: '!';
    left: 0;
    top: 0;
    color: $basic-error;
}




